/* .btn {
    background: #008AFF;
    border-radius: 3px;
    padding: 18px 30px 15px;
} */


/* gray:{
        50: "#8492A7", //secondary text color
        900: "#222D39", //text color
        primary: "#008AFF",
        "bg-color":"#F0F9FE",
    } */

/* section {
padding: 140px 0 140px 0px;
} */

/* root::{
    var btn-bg{
       background-color:  #008AFF;
    }
} */

.section-title{
    padding: 140px 0 140px 0;
}

.text-primary{
  color: #008AFF;
}
.demo{
    position: relative;
}

.demo:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    top:50% ;
    right: 0;
    transform: translateY(-50%);
    background-color: #DEE7EE;
}

.formInput{
width: 563px;
height: 71px;
background: #FFFFFF;
box-shadow: 0px 15px 35px rgba(210, 217, 224, 0.25);
border-radius: 5px;
}

.calltoaction{
  

    background-image: url("img/Bg.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
 /* background-color: #cccccc; */
}


